Source: ros-jazzy-ros2-helper
Section: misc
Priority: optional
Maintainer: "Namheon Baek" <7nbaek@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-python, ros-jazzy-rclcpp, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Homepage: https://github.com/codevilot/ros2-helper
Standards-Version: 3.9.2

Package: ros-jazzy-ros2-helper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, chafa, python3-dev, ros-jazzy-rclcpp, ros-jazzy-ros2cli, ros-jazzy-ros2node, ros-jazzy-ros2service, ros-jazzy-ros2topic, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Description: Terminal-first helper tools for ROS 2
